# Ports
API_PORT=8080
ORACLE_PORT=1521
KAFKA_PORT=9092
KAFKA_UI_PORT=8090

# Oracle
ORACLE_SYSTEM_PASSWORD=local_system_password
ORACLE_APP_USER=hotel_search
ORACLE_APP_PASSWORD=hotel_search_password

# Kafka
KAFKA_TOPIC=hotel_availability_searches
